apiVersion: apps/v1
kind: Deployment
metadata:
  name: {{ include "frontend.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "frontend.labels" . | nindent 4 }}
spec:
  replicas: {{ .Values.replicaCount }}
  selector:
    matchLabels:
      {{- include "frontend.selectorLabels" . | nindent 6 }}
  template:
    metadata:
      labels:
        {{- include "frontend.selectorLabels" . | nindent 8 }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
      - name: frontend
        image: {{ include "frontend.image" . }}
        imagePullPolicy: {{ .Values.image.pullPolicy }}
        ports:
        - containerPort: {{ .Values.service.targetPort }}
          name: http
          protocol: TCP
        volumeMounts:
        {{- if .Values.persistence.static.claimName }}
        - name: static-volume
          mountPath: {{ .Values.staticMountPath }}
          readOnly: true
        {{- end }}
        {{- if .Values.persistence.media.claimName }}
        - name: media-volume
          mountPath: {{ .Values.mediaMountPath }}
          readOnly: true
        {{- end }}
        {{- with .Values.resources }}
        resources:
          {{- toYaml . | nindent 10 }}
        {{- end }}
      volumes:
      {{- if .Values.persistence.static.claimName }}
      - name: static-volume
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.static.claimName }}
      {{- end }}
      {{- if .Values.persistence.media.claimName }}
      - name: media-volume
        persistentVolumeClaim:
          claimName: {{ .Values.persistence.media.claimName }}
      {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
