---
apiVersion: v1
kind: Service
metadata:
  name: backend-service
  namespace: foodgram
  labels:
    app: backend
    tier: application
spec:
  type: ClusterIP
  selector:
    app: backend
    tier: application
  ports:
  - port: 8000
    targetPort: 8000
    protocol: TCP
    name: http
