replicaCount: 1

image:
  registry: ""
  repository: foodgram-backend
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets: []

externalSecrets:
  enabled: false

service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

config:
  dbEngine: "django.db.backends.postgresql"
  languageCode: "ru-ru"
  timeZone: "UTC"
  staticUrl: "/backend_static/"
  mediaUrl: "/media/"
  pageSize: "6"

secrets:
  postgresPassword: "change_me"
  djangoSecretKey: "change_me"
  debug: "False"
  allowedHosts: "*"

database:
  host: "foodgram-postgresql"
  port: 5432
  name: "foodgram"
  username: "foodgram_user"

redis:
  enabled: false
  host: "foodgram-redis-headless"
  port: 6379
  password: "change_me"

rabbitmq:
  enabled: false
  host: "foodgram-rabbitmq"
  port: 5672
  username: "foodgram_user"
  password: "change_me"
  exchange: "foodgram_tasks"
  exchangeType: "direct"

celery:
  enabled: false
  brokerUrl: "redis://foodgram-redis-headless:6379/0"
  resultBackend: "redis://foodgram-redis-headless:6379/0"

api:
  themealdb:
    apiKey: "1"
  resultsDir: "api_results"

persistence:
  static:
    enabled: true
    storageClass: ""
    accessModes:
      - ReadWriteOnce
    size: 1Gi
  media:
    enabled: true
    storageClass: ""
    accessModes:
      - ReadWriteOnce
    size: 5Gi

migrations:
  enabled: true
  hookAnnotation: "post-install,post-upgrade"
  hookWeight: "-5"
  hookDeletePolicy: "before-hook-creation,hook-succeeded"
  backoffLimit: 3
  restartPolicy: "OnFailure"

collectstatic:
  enabled: true

consumer:
  enabled: false  # Set to true when RabbitMQ is deployed
  replicaCount: 1
  queues:
    - name: themealdb
      queue: themealdb_tasks
      resources: {}
    - name: openfoodfacts
      queue: openfoodfacts_tasks
      resources: {}
  nodeSelector: {}
  tolerations: []
  affinity: {}

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
