replicaCount: 1

image:
  registry: ""
  repository: foodgram-backend
  tag: "latest"
  pullPolicy: IfNotPresent

imagePullSecrets: []

service:
  type: ClusterIP
  port: 8000
  targetPort: 8000

config:
  dbEngine: "django.db.backends.postgresql"
  languageCode: "ru-ru"
  timeZone: "UTC"
  staticUrl: "/backend_static/"
  mediaUrl: "/media/"
  pageSize: "6"

secrets:
  postgresPassword: "change_me"
  djangoSecretKey: "change_me"
  debug: "False"
  allowedHosts: "*"

database:
  host: "foodgram-postgresql"
  port: 5432
  name: "foodgram"
  username: "foodgram_user"

persistence:
  static:
    enabled: true
    storageClass: ""
    accessModes:
      - ReadWriteOnce
    size: 1Gi
  media:
    enabled: true
    storageClass: ""
    accessModes:
      - ReadWriteOnce
    size: 5Gi

migrations:
  enabled: true
  hookAnnotation: "post-install,post-upgrade"
  hookWeight: "-5"
  hookDeletePolicy: "before-hook-creation,hook-succeeded"
  backoffLimit: 3
  restartPolicy: "OnFailure"

collectstatic:
  enabled: true

resources: {}
nodeSelector: {}
tolerations: []
affinity: {}
