---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: frontend
  namespace: foodgram
  labels:
    app: frontend
    tier: frontend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: frontend
      tier: frontend
  template:
    metadata:
      labels:
        app: frontend
        tier: frontend
    spec:
      containers:
      - name: frontend
        image: foodgram-frontend:latest
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 80
          name: http
          protocol: TCP
        volumeMounts:
        - name: static-volume
          mountPath: /var/html/backend_static
          readOnly: true
        - name: media-volume
          mountPath: /var/html/backend_media
          readOnly: true
      
      volumes:
      - name: static-volume
        persistentVolumeClaim:
          claimName: static-pvc
      - name: media-volume
        persistentVolumeClaim:
          claimName: media-pvc
