replicaCount: 1

image:
  repository: rabbitmq
  tag: 3.13-management-alpine
  pullPolicy: IfNotPresent

auth:
  username: guest
  password: guest
  erlangCookie: secretcookie

externalSecrets:
  enabled: false

service:
  type: LoadBalancer
  amqpPort: 5672
  managementPort: 15672

persistence:
  enabled: true
  storageClass: ""
  size: 2Gi
  accessMode: ReadWriteOnce

resources:
  requests:
    memory: 256Mi
    cpu: 100m
  limits:
    memory: 512Mi
    cpu: 500m

nodeSelector: {}
tolerations: []
affinity: {}
